@using AppModel.ViewModel
@model AppUsersVM
@{
    ViewData["PageTitle"] = "App Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-bottom:7px;">
    <div class="col-md-12">
        <button onclick="location.href='@Url.Action("AppUser", "Account")'" class="btn btn-primary"><i class="fa fa-user-plus"></i> New User</button>
    </div>    
</div>
<div class="row">
    <div class="col-md-12">
        <div id="appUserList" class="card card-primary" style="padding:10px;">
            <!-- /.card-header -->            
            <!-- form start -->
            @await Html.PartialAsync("_HTMLTable", Model.AppUsersInfo)
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts {
    @*<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>*@
    <script type="text/javascript">

        $(function () {
            $("#appHtmlGrid1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
        });

        function Action1Click(data) {
            window.location.href = "/Account/AppUser/" + data
            //alert(data)
        }
        function Action2Click(data) {            
            ezBSAlert({
                        type: "confirm",
                        messageText: "Do you want to delete the user ?",
                        alertType: "info"
                    }).done(function (flag) {                        
                        if (flag) {
                            ShowAppLoader();
                            var postParam = { id: data };
                            AppCommonAjaxPost('/Account/DeleteAppUser', postParam, onDelSuccess, onDelFail);
                        }
                    });            
            //alert(data)
        }

        function onDelSuccess(result, textStatus, jqXHR) {           
            HideAppLoader();
            //alert(result.msg)
            if (result.stat) {                
                toastr.success(result.msg)
                //refresh the user grid  
                ShowAppLoader();
                AppCommonAjaxPostPartial('/Account/ReloadAppUsers', null, onUserLoadSuccess, onUserLoadFail)
            } else {
                toastr.error(result.msg)
            }

        }

        function onDelFail(xhr) { 
            toastr.error(xhr.responseText)
            //alert(`Hi ${xhr.responseText}!`);
            HideAppLoader();
        };

        function onUserLoadSuccess(result) {
            $('#appUserList').html(result);
            HideAppLoader();
        }
        function onUserLoadFail(result) {
            HideAppLoader();
            toastr.error('Something wrong while deleting user.')
        }
    </script>
}