@using AppModel.ViewModel
@model ChangeProfilePasswordVM
@{
    ViewData["PageTitle"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-outline card-success">
            <!-- /.card-header -->
            <!-- form start -->
            <form id="frmUserPassChange" asp-area="" asp-action="ChangeProfilePassword" asp-controller="Account" data-ajax="true" data-ajax-method="post" data-ajax-begin="onBeforeSubmit" data-ajax-success="onSuccess">

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.UserID)
                @Html.HiddenFor(model => model.BUserName)
                <div class="card-body">
                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" name="OldPassword" asp-for="OldPassword" class="form-control" placeholder="Old Password" />
                        <span asp-validation-for="OldPassword" class="text-danger" style="font-size:small"></span>
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="NewPassword" asp-for="NewPassword" class="form-control" placeholder="New Password" />
                        <span asp-validation-for="NewPassword" class="text-danger" style="font-size:small"></span>
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="password" name="ConfirmNewPassword" asp-for="ConfirmNewPassword" class="form-control" placeholder="Type new password again" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger" style="font-size:small"></span>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <input type="submit" class="btn btn-primary" value="Save" id="btnChangePass" />
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
    <!--/.col (left) -->
</div>

@section Scripts {
    @*<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>*@
    <script type="text/javascript">

        $(function () {
            $('#btnChangePass').click(function (e) {
                e.preventDefault();
                var isFormValid = $('#frmUserPassChange').valid();
                if (isFormValid) {
                    ezBSAlert({
                        type: "confirm",
                        messageText: "Do you want to change User password ?",
                        alertType: "info"
                    }).done(function (flag) {
                        debugger;
                        if (flag) {
                            $('#frmUserPassChange').submit();
                        }
                    });
                }
            });
        });


        function onBeforeSubmit() {
            debugger;
            ShowAppLoader();

        }

        function onSuccess(result, textStatus, jqXHR) {
            debugger;
            HideAppLoader();
            //alert(result.msg)
            if (result.stat) {
                toastr.success(result.msg)
            } else {
                toastr.error(result.msg)
            }

        }

        onFail = function (xhr) {
            debugger;
            alert(`Hi ${xhr.responseText}!`);
            HideAppLoader();
        };

    </script>
}
