@model DashboardVM
@{
    ViewData["PageTitle"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@switch (Model.BUserType)
{
    case "A":
        <div>
            @await Html.PartialAsync("_PartialAdminDashboard", Model);
        </div>
        break;
    case "S":
        <div>
            @await Html.PartialAsync("_PartialAdminDashboard", Model);
        </div>
        break;
    case "U":
        <div>
            @await Html.PartialAsync("_PartialAdminDashboard", Model);
        </div>
        break;
    default:
        break;
}

@section Scripts {
    <script src="~/js/pages/dashboard2.js"></script>

}

