@using AppModel.ViewModel
@model StudentVM
@{
    ViewData["PageTitle"] = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-bottom:7px;">
    <div class="col-md-12">
        <button class="btn btn-primary"><i class="fa fa-user-plus"></i> New Student</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="StudentList" class="card card-primary" style="padding:10px;">
            <!-- /.card-header -->
            <!-- form start -->
            @await Html.PartialAsync("_HTMLTable", Model.StudentInfo)
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts {
    @*<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>*@
    <script type="text/javascript">

        $(function () {
            $("#appHtmlGrid1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
        });

        function Action1Click(data) {
            alert(data)
        }
        function Action2Click(data) {
            alert(data)
        }
    </script>
}