@using AppModel.ViewModel
@model SubjectVM
@{
    ViewData["PageTitle"] = "Subjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-bottom:7px;">
    <div class="col-md-12">
        <button class="btn btn-primary" onclick="AddNewPage()"><i class="fa fa-user-plus"></i> New Subject</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="SubjectList" class="card card-primary" style="padding:10px;">
            <!-- /.card-header -->
            <!-- form start -->
            @await Html.PartialAsync("_HTMLTable", Model.SubjectInfo)
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts {
    @*<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>*@
    <script type="text/javascript">

        $(function () {
            $("#appHtmlGrid1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
        });
        function AddNewPage()
        {
            var url = "/Subject/AddSubject";
            location.href = url;
        }

        function Action1Click(data) {
           
            var url = "/Subject/UpdateSubject?SubjectId=" + data;            
            location.href = url;                           
        }
        function Action2Click(data) {
            ezBSAlert({
                type: "confirm",
                messageText: "Do you want to delete the Subject ?",
                alertType: "info"
            }).done(function (flag) {
                if (flag) {
                    ShowAppLoader();
                    var postParam = { SubjectId: data };
                    AppCommonAjaxPost('/Subject/DeleteSubject', postParam, onDelSuccess, onDelFail);
                }
            });
            //alert(data)
        }

        function onDelSuccess(result, textStatus, jqXHR) {
            HideAppLoader();
            //alert(result.msg)
            if (result.stat) {
                toastr.success(result.msg)
                //refresh the user grid  
                ShowAppLoader();
                AppCommonAjaxPostPartial('/Subject/ReloadSubjects', null, onUserLoadSuccess, onUserLoadFail)
            } else {
                toastr.error(result.msg)
            }
        }

        function onDelFail(xhr) {
            toastr.error(xhr.responseText)
            //alert(`Hi ${xhr.responseText}!`);
            HideAppLoader();
        };
        function onUserLoadSuccess(result) {
            $('#SubjectList').html(result);
            $("#appHtmlGrid1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            HideAppLoader();
        }
        function onUserLoadFail(result) {
            HideAppLoader();
            toastr.error('Something wrong while deleting Subject.')
        }
    </script>
}